.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
    border: var(--border-width-thin) solid var(--colors-base-transparent);
    padding: 10px 20px;
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-sm);
    transition: filter 0.5s ease, box-shadow 0.2s ease;
    font-size: var(--font-size-md);
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-bold);
    height: 45px;
}

.is-block {
    width: 100%;
}

.type-primary {
    background: var(--colors-primary);
    color: var(--colors-white);
}

.type-primary:focus {
  box-shadow: 0 0 0 1px var(--colors-primary-inverted),
    0 0 10px 0 var(--color-primary);
}

.button:focus {
  box-shadow: 0 0 0 1px var(--colors-primary), 0 0 10px 0 var(--colors-primary);
  outline: none;
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  filter: brightness(0.9);
}

.type-secondary {
    background: var(--colors-transparent);
    color: var(--colors-brand-medium-purple);
    border: 1px solid var(--colors-brand-medium-purple);
}

.type-tertiary {
    background: var(--colors-transparent);
    color: var(--colors-primary);
    box-shadow: var(--shadows-none);
    padding: 0;
    border-bottom: 1px solid var(--colors-primary);
    border-radius: var(--border-radius-none);
    height: auto;
}

.type-tertiary:focus {
  box-shadow: 0 10px 10px -8px var(--colors-primary);
}

.button.is-inline {
  max-width: max-content;
}
